<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CourseFlow" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\User\Documents\CourseFlowApp\MSAccessDatabase\CourseFlow.accdb" providerName="System.Data.OleDb" />
	</connectionStrings>
</configuration>